{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "FunctionCallRemoval": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::waitUntilTheNextSecond"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::tearDown"
            ]
        },
        "Continue_": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::rmdir"
            ]
        },
        "TrueValue": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::provideTrueFalse"
            ]
        },
        "ArrayItemRemoval": false,
        "FalseValue": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::provideTrueFalse"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::provideTrueFalse"
            ]
        },
        "Identical": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::getSysTempDir"
            ]
        },
        "UnwrapStrToUpper": {
            "ignore": [
                "WyriHaximus\\TestUtilities\\TestCase::getSysTempDir"
            ]
        }
    }
}