parameters:
	excludes_analyse:
		- tests/*Exception.php
		- tests/MissingAttributes.php
	ergebnis:
		classesAllowedToBeExtended:
			- Exception
			- WyriHaximus\TestUtilities\TestCase

includes:
	- vendor/wyrihaximus/test-utilities/rules.neon
